body {
  font-family: "Playfair Display", serif !important;
}

.app-name {
  font-weight: 900;
}

.App {
  text-align: center;
}

#map-pin,
#entry-pin {
  width: 24px;
  height: 24px;
  transform: translate(-50%, -100%);
}

.Popup {
  min-width: 300px;
  padding: 0.5rem;
}

.Popup img {
  max-width: 300px;
}

.add-location-form {
  width: 300px;
}
.add-location-form label {
  display: block;
}

.add-location-form textarea,
input,
select {
  width: 100%;
}

.add-location-form div {
  margin: 0.5rem;
}

.required-field {
  color: red;
}

#logout-btn {
  margin: 0.5rem;
}

.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#spinner {
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 2;
  top: 50%;
  left: 50%;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.back-to-map {
  position: relative;
  top: 0.7rem;
}

.card {
  margin: 1rem;
  padding: 0.7rem;
}

.card:hover {
  cursor: pointer;
}

.dashboard-image {
  max-width: 18rem;
}

.places-list {
  display: flex;
}

.nav-custom {
  background-color: #edc7b7 !important;
}
